namespace: staging
replicas:
  - name: hms-deployment
    count: 1
images:
  - name: sprintugdevs/novasuite-backend
    
resources:
  - ../../../base

patches:
  - target:
      kind: Service
      name: hms-service
    patch: |-
      - op: replace
        path: /spec/ports/0/port
        value: 9000

  - target:
      kind: Deployment
      name: hms-deployment
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: "9000"

  - target:
      kind: PersistentVolume
      name: postgres-pv-hms-staging
    patch: |-  
      - op: replace
        path: /metadata/name
        value: postgres-pv-hms-staging

      - op: replace
        path: /spec/hostPath/path
        value: "/home/sprintdevs/staging-vol"  

  - target:
      kind: PersistentVolumeClaim
      name: postgres-pvc-hms-staging
    patch: |-  
      - op: replace
        path: /metadata/name
        value: postgres-pvc-hms-staging

      - op: replace
        path: /spec/volumeName
        value: postgres-pv-hms-staging
