namespace: dev
replicas:
  - name: hms-development-sys
    count: 1
images:
  - name: sprintugdevs/novasuites-backend-sys
  - newTag: newer
resources:
  - ../../../base

patches:
  - target:
      kind: Service
      name: hms-sys-service
    patch: |-
      - op: replace
        path: /spec/ports/0/port
        value: 9000

  - target:
      kind: Deployment
      name: hms-development-sys
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: "9000"

  # - target:
  #     kind: PersistentVolume
  #     name: postgres-hms-pv-system-dev
  #   patch: |-  
  #     - op: replace
  #       path: /metadata/name
  #       value: postgres-hms-pv-system-dev

  #     - op: replace
  #       path: /spec/hostPath/path
  #       value: "/home/sprintdevs/dev-vol"  

  # - target:
  #     kind: PersistentVolumeClaim
  #     name: postgres-hms-pvc-system-dev
  #   patch: |-  
  #     - op: replace
  #       path: /metadata/name
  #       value: postgres-hms-pvc-system-dev

  #     - op: replace
  #       path: /spec/volumeName
  #       value: postgres-hms-pvc-system-dev
  # 
  # 
