apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: novasuite-backend
  name: novasuite-backend
  namespace: argocd
spec:
  replicas: 3
  selector:
    matchLabels:
      app: novasuite-backend
  template:
    metadata:
      labels:
        app: novasuite-backend
    spec:
      containers:
      - name: novasuite-backend
        image: mwinel/node-kubernetes
        env:
        - name: NODE_ENV
          value: "development"
        - name: PORT
          value: "3000"
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: postgres-credentials
              key: user
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-credentials
              key: password
      restartPolicy: Always
